body {

  background-image: url("https://github.com/kbamesh/kbamesh.github.io/blob/main/low-poly-grid-purp.png?raw=true");
  background-color: #CBC3E3;

}

h1 {

  color: #EAEAEC
}

h3 {

  color: #EAEAEC
}

a:link, a:visited {
  background-color: #C9D1D5;
  border-radius: 10px;
  color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
