body {

  background-image: url("https://github.com/kbamesh/kbamesh.github.io/blob/main/low-poly-grid-haikei.png?raw=true");
  background-color: #CBC3E3;

}

h1 {

  color: #EAEAEC
}

h3 { 

  color: #EAEAEC
}
